<!DOCTYPE html>
<html>
<title>hatoztml</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>

  <body>
    <style type="text/css">
      #ana_div {

    height: 100px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;


}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.div {
    float: left;
    display: inline-block;
    height: 200px;
    width: 220px;
    margin: 10px;
    border: 1px solid #000000;

}
.footer1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.footer-bottom {
    background-color: gray;
    border:10px solid;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
  </style>
    <nav class="ntopnav">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%=link_to "Ana Sayfa", posts_path, class:"navbar-brand"%>
  <%=link_to "Hakkimizda", posts_path, class:"navbar-brand"%>
  <%=link_to "Iletisim", pages_iletisim_path, class:"navbar-brand"%>

</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li> <%= link_to '', new_post_path, class:"glyphicon glyphicon-plus" %> </li>
    <li class="dropdown">
        <% if user_signed_in? %>
        <br>
              <em><%=image_tag current_user.image.url(:mini) if current_user.image?%> </em>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.name%> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Çıkış", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "Ayarlar", edit_user_registration_path%></li>
            </ul>
          </li>
        <% else %>
           <li><%= link_to('Giriş Yap', new_user_session_path) %></li>
           <li><%= link_to('Üye Ol', new_user_registration_path) %></li>
        <% end %>

      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
<div class="col-md-12 content">
  <%= yield %>
</div>
<footer class="container-fluid main-container" style="background-color: #efefef;
text-align: center;">
  <p class="col-md-12">
    <hr class="divider">
    Twitter : hatoztml </a>
  </p>
</footer>
</div>
  </body>
</html>
